
<hr />
<h1><%= @artist.name %></h1>
<p><%= @artist.genre %></p>
<p><%= @artist.bio %></p>

<h2>song</h2>
<% @artist.songs.each do |song| %>
  <%= render 'songs/song', { song: song } %>
<hr />

<% end %>
<div class="extra content">

<button class="ui green basic button"><%= link_to 'Billboard: Top songs', artist_songs_path(@artist) %></button>
<button class="ui basic red button"><%= link_to 'Edit Artist', edit_billboard_artist_path([@billboard, @artist]) %></button>
<button class="ui basic blue button"><%= link_to 'Delete Artist', [@billboard, @artist], method: :delete %></button>
<button class="ui basic yellow button"><%= link_to 'Back To Artists', billboard_artists_path(@billboard) %></button>
<button class="ui basic purple button"><%= link_to 'Add Song', new_artist_song_path(@artist) %></button>
